body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Component Divs */
.root {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.root-header {
  /* border: 2px solid blue; */
  width: 100vw;
  height: 100px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2em;
  font-size: 2em;

}
.root-calculator {
  /* border: 2px solid green; */
  width: 100vw;
  height: 70vh;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}
.root-list {
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  width: 205px;
}
ul {
  list-style: none;
}
.root-footer {
  /* border: 2px solid yellow; */
  width: 100vw;
  height: 50px;
}
button {
  width: 50px;
  padding: 5px;
  margin: 1px;
}
button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #121212;
  transform: translateY(-0.05em);
}
.equal {
  background-color: #e5df88;
}
.clear {
  background-color: #a37eba;
}
.digit {
  background-color: #e8e8e8;

}
.operator {
  color: white;
  background-color: #4c4c4c;
}



